div{
    margin:30px auto;
    width:400px;
    height:300px;
    background-color:#aquamarine;
    text-align:center;
    float:left;
}

#trans-1{
    transform:rotate(-10deg);
    background-color:#rgba(0,0,0,0.5);
    background-image:url("image/woniufamily.png");
}
#trans-2{
    transform:rotate(-70deg);
    
    background-image:url("image/videoonline.png");
}
#trans-3{
    transform:rotate(-15deg);
    background-image:url("image/sights.jpg");
}
