#menu-div{
    width:140px;
    height:200px;
    background-color:#00beff;
    position:fixed;
    display:none;
    border:2px solid  red;
}

li{
    margin-left:-10px;
    line-height:35px;
}



        

