#head{
    width:800px;
    height:50px;
    border:1px solid red;
    text-align:center;
    line-height:50px;
    margin:80px auto 0 auto;
}

#image {
    width:800px;
    height:450px;
    border:1px solid red;
    margin:0 auto;
}

#image img{
    width:800px;
    height:450px;
}


    
